{% extends 'ty/header.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row mt-2">
		<div class="col-md bg-primary mx-2">
			<h2 class="text-light text-center p-2">First Class</h2>
		</div>
		<div class="col-md bg-danger mx-2">
			<h2 class="text-center text-warning p-2">Second Class</h2>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md bg-secondary mx-2">
			<h3>Third Class</h3>
		</div>
		<div class="col-md bg-success mx-2">
			<h3>Fourth Class</h3>
		</div>
		<div class="col-md bg-warning mx-2">
			<h3>Fifth Class</h3>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md bg-dark mx-2">
			<h3 class="text-light">Sixth class</h3>
			<div class="row my-2">
				<div class="col-md bg-primary mx-2">
					<h3>6.1</h3>
				</div>
				<div class="col-md bg-danger mx-2">
					<h3>6.2</h3>
				</div>
				<div class="col-md bg-warning mx-2">
					<h3>6.3</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 bg-info mx-2">
			<h3>Seventh Class</h3>
			<div class="row my-2">
				<div class="col-md bg-light mx-2">
					<h3>7.1</h3>
				</div>
				<div class="col-md bg-success mx-2">
					<h3>7.2</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}